html
{
	height: 100%;
	width: 80%;
}
body
{
	background-image: url('whitewood.jpg');
	padding: 7.5%;
	height: 100%;
	width: 100%;
}

@font-face{
    font-family: Fish;
    src: url('fish.ttf') format('truetype');
}

#notice
{
	color: red;
	font: bold 150% 'lucida sans unicode', arial, sans-serif;
}
#top
{
	vertical-align: top;
	width: 100%;
	padding-top: 5px ;
	background-color: #77B0B0;	
	
}
#logo
{
	margin-left: 5px;
	margin-right: 5px;
	display:inline-block;
	vertical-align: middle;
	
}
#logotxt
{
	text-align: left;	
	color: white;
	font-family: Fish, Arial, sans-serif;
	font-size: 150%;
	
}
#main
{
	margin-bottom: 10px;
	height: auto;
	background-color:rgba(255,255,255,0.7);
}

#maintxt
{
	font: normal 100% 'lucida sans unicode', arial, sans-serif;
	vertical-align: middle;
	text-align: left;	
	padding: 15px;
	margin-bottom: 50px;
   
}
#maintxt h1
{
	font: bold 125% 'lucida sans unicode', arial, sans-serif;
	color: #000000;
}
#maintxt p
{
	font: normal 100% 'lucida sans unicode', arial, sans-serif;
	color: #6C8C8C;
}
#menubar
{ 
	width: 100%;
  height: 72px;
  padding: 0;
  background: #29415D url(menu.png) repeat-x;
} 

ul#menu, ul#menu li
{ 
	float: left;
  margin: 0; 
  padding: 0;
}

ul#menu li
{ list-style: none;}

ul#menu li a
{ 
	letter-spacing: 0.1em;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  display: block; 
  float: left; 
  height: 37px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ 
	color: #FFF;
  	background: #1C2C3E url(menu_select.png) repeat-x;
}

#wrap {
	padding-bottom: 20px;
  width: auto;
  margin: 0 auto;
  height: 133%;
}
#wrap li {
  float:left;
  position:relative;
  display:inline-block;
  width:300px;
  height:300px;
  margin:10px;
  padding:10px;
  background:#fff;
  box-shadow:0 0 5px rgba(0,0,0,.35);
}
#wrap li div {
 position: absolute;
  height:0;
  width:280px;
  background:rgba(0,0,0,.45);
  overflow:hidden;
  bottom:10px;
  left:10px;
  padding: 0 10px;
  line-height:50px;
  color:#fff;
  transition:height 1s;
}
#wrap li:hover div {
  height:50px;
}
#wrap img
{
	height:300px;
	width:300px;
}
#footer
{
	bottom: 2px;
	font: normal 70% 'lucida sans unicode', arial, sans-serif;
	color: #6C8C8C;
}
#footer a
{
	font: bold 72% 'lucida sans unicode', arial, sans-serif;
	color: #77B0B0;
	
}
#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }

#lightbox img{ border: none; } 
#overlay img{ border: none; }
#overlay{ background-image: url(overlay.png); }